@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './reset.scss';

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  font-family: 'Rubik', sans-serif;
  color: #1e1e1e;
  background: #1e1e1e;

  &__content {
    width: clamp(320px, 100%, 1440px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 5px;
  }
}