@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import './reset.scss';

.main-container {
  width: clamp(330px, 100%, 1440px);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  font-family: 'Rubik', sans-serif;
  color: #1e1e1e;
  background: #1e1e1e;
  gap: 5px;
}