@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header-component {
  width: 100%;
  height: auto;
  padding: 1.2rem;
  border-bottom: 4px solid #000000;
  background-color: #3a41e4;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    max-width: 1440px;

    &__title {
      margin-right: auto;
      color: #eeeeee;
      font-size: 2rem;
      font-family: 'Rubik', sans-serif;
      font-weight: 900;
      letter-spacing: .3rem;
    }
  }
}